html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
}

.navbar-background {
    background-color: #000000;
}

.landing-section {
    display: flex;
    justify-content: center;
    background-color: #000000;
    background-size: 24%;
    height: 95vh;
}

.image-container {
    margin-top: 1.75rem;
    margin-left: 8.755rem;
    height: 184px;
    width: 184px; 
    background-color: #8a2be2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    overflow: hidden;
    border-radius: 50%
}

.circle-image {
    width: 75%;
}


.title p {
    color: #8a2be2;
    width: 100%;
}

.web-dev {
    margin-bottom: 14px;
}


.intro-social {
    margin-left: 3.3rem;
    width: 100%;
    
}


.intro-social-media a {
    margin-right: 1.4rem;
    margin-bottom: 1em;
    margin-top: 0.8em;
}

.intro-section {
    margin-top: 6rem;
}


.intro-text {
    padding-top: 70px;
    text-align: left;
    font-weight: 900;
    color: white;
    font-size: 3rem;
    margin-left: 5rem;

}

.intro-text span {
    color: #03fa6e;
    font-family: 'Quicksand', sans-serif;
    font-size: 5rem;
}

.web-dev {
    text-align: left;
    font-weight: 200;
    color: white;
    font-size: 1rem;
    margin-left: 5.275em;
}

@media (max-width: 900px) {
    .intro-text span {
        font-size: 5rem;
        margin-right: 6rem;
    }

    .image-container {
        margin-top: 2.5rem;
        margin-left: 10.755rem;
        height: 154px;
        width: 154px; 
    }
}

@media (max-width: 808px) {
    .intro-text span {
        font-size: 4.8rem;
        margin-right: 7rem;
    }

    .image-container {
        margin-top: 3.5rem;
        margin-left: 10.55rem;
        height: 125px;
        width: 125px; 
    }

    .web-dev {
        margin-bottom: px;
    }


    .intro-social {
        margin-left: 3.3rem;
    }


    .intro-social-media a {
        margin-right: 0.8rem;
        margin-bottom: 1em;
        margin-top: 0.8em;
    }

}

@media (max-width: 750px) {
    .intro-text span {
        font-size: 4rem;
        margin-right: 2rem;
    }

    .image-container {
        margin-top: 3rem;
        margin-left: 7.85rem;
        height: 120px;
        width: 120px; 
    }

    .intro-social {
        margin-left: 3.3rem;
    }

    .title p {
        color: #8a2be2;
        font-size: 20px;
        margin-left: 5rem;

    }
    
    .intro-social-media a {
        margin-right: 0.8rem;
        margin-bottom: 1em;
        margin-top: 0.8em;
    }

}

@media (max-width: 700px) {
    .intro-text span {
        font-size: 2.6rem;
    }

    .image-container {
        margin-top: -1.8rem;
        margin-left: 2.95rem;
        height: 100px;
        width: 100px; 
    }

    .intro-social {
        margin-left: 3rem;
    }

    .title p {
        color: #8a2be2;
        font-size: 15px;
        margin-left: 5rem;

    }
    
    .intro-social-media a {
        margin-right: 0.8rem;
        margin-bottom: 1em;
        margin-top: 0.8em;
    }

}

#profile {
    background-color: #050505;
}

#profile p {
    font-size: 15px;
}

.line {
    background: linear-gradient(to right, #8a2be2 0%, #03fa6e 50%, #8a2be2 100%);
    width: 100px;
    height: 3px;
    margin-bottom: 14px;
    border-radius: 90%;
}

.fa-brands {
    font-size: 40px;
}

#cirriculumvitae {
    background-color: #080808;
    color: white;
}

.checkpoint {
    background-color: #0D0D0D;
    border: 1px solid white;
    font-size: 12px;
    padding: 15px; 
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
    position: relative;
}

.checkpoint-1 {
    background-color: #0D0D0D;
    border: 1px solid white;
    font-size: 12px;
    padding: 15px; 
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
    position: relative;
}

.checkpoint::before,
.checkpoint-1::before {
    content: '';
    width: 35px;
    height: 0.2%;
    background-color: white;
    position: absolute;
    left: -35px;
    top: -1px;
}

.checkpoint p em {
    color: #03fa6e;
}

.checkpoint-1 p em {
    color: #03fa6e;
}

.checkpoint h4 {
    font-size: 18px;
}

.checkpoint-1 h4 {
    font-size: 18px;
}


.checkpoint h6 {
    color: #8a2be2;
}

.checkpoint-1 h6 {
    color: #8a2be2;
}

.timeline {
    margin-left: 15px;
    border-left: 1px solid white;
    height: 100%;
}

.portfolio-bg-container {
    background-color: #050505;
}

.portfolio-image {
    height: 270px;
}

.card-image {
    filter: brightness(30%);
}

.card-text {
    font-size: 12px;
}

.card-image:hover {
    filter: brightness(100%);
}

.card-title {
    text-align: center;
}


.contact-bg-container {
    background-color: #000000;
}

a:hover, h5:hover {
    color: #03fa6e;
}

a {
    text-decoration: none;
}


#name::placeholder,
#email::placeholder,
#message::placeholder {
    color: grey; 
}


.social-media {
    margin: 0;
    text-align: center;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
}

.social-media a {
    color: #ffffff;
    font-size: 32px;
    margin-right: 2rem;
    padding: .3rem;
    margin-bottom: 1em;
    margin-top: 0.4em;
}

.white-icons i {
    color: white;
    font-size: 20px;
}

.white-icons i:hover {
    color: #03fa6e;
}


button {
    background-color: #8a2be2;
    color: white;
    border-radius: 5%;
    border-color: white;
    cursor: pointer;
}

.btn {
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: blueviolet;
    color: white;
    transition: background-color 0.1s;
}

.btn:hover {
    background-color: #03fa6e;
    color: white;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #000000;
}

#preloader::before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 2px solid #03fa6e;
    border-top: 8px solid #03fa6e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
     0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

footer {
    background-color: #8a2be2;
    color: white;
    display: flex;
    justify-content: center;
    height: 30px;
}

footer p {
    font-size: 13px;
    padding-top: 4px;
}

