
body {
    background-color: #a39d9d6c;
}

table, th, tr, td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: .1em;
    height: 2rem;
    width: 100vh;
    margin-top: 1em;
    padding: .5em;
    font-size: small;
    border-style: groove;
    text-align: center;
    border-color: black;
    border-collapse: collapse;
    background-color: white;
    margin: 0 auto;
    color: black;
}

th {
    background-color: aqua;
}


button {
    background-color: lightseagreen;
    color: white;
    padding: .2em;
    border-radius: .4em;
}

button:hover {
    cursor: pointer;
}

#results {
    height: 30vh;
}