html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f0f0f;
    font-family: 'Poppins', sans-serif;
}

.landing-section {
    display: flex;
    justify-content: center;
    background-color: #000000;
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 60%;

}

.nav-logo {
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(to right, #03fa6e 37%, #8a2be2 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.705rem;
    font-weight: light;
}

.navbar-background {
    background-color: #000000;
}

.intro-text {
    text-align: left;
    font-weight: 900;
    color: white;
    font-size: 3rem;
}

.intro-text span {
    color: #03fa6e;
    font-family: 'Readex Pro', sans-serif;
    font-size: 7rem;
}

@media (max-width: 600px) {
    .intro-text {
        font-size: 1.875rem;
    }

    .intro-text span {
        font-size: 5rem;
    }
}

.web-dev {
    text-align: left;
    font-weight: 200;
    color: white;
    font-size: 1rem;
    margin-left: .275em;
}

.portfolio-btn {
    width: auto;
    margin-left: .275em;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    height: 270px;
    margin-bottom: 1em;
    background: #8a2be2;
    background: linear-gradient(180deg, #0f0f0f 40%, #8a2be2);
    border-radius: 10%;
}

#profile p {
    font-size: 15px;
}

.line {
    background: linear-gradient(to right, #03fa6e 37%, #8a2be2 63%);
    width: 172px;
    height: 4px;
    margin-bottom: 14px;
    border-radius: 90%;
}

.logo-container {
    display: none;
    justify-content: center;
    align-items: center;
}

.logo-container i {
    flex: 1;
}

@media (max-width: 768px) {
    .skills-container {
        flex-wrap: wrap;
    }

    .logo-container {
        flex-basis: 33.33%;
    }
}

.skill-logos {
    list-style: none;
    font-size: 26px;
    text-align: left;
}

.skill-logos i {
    color: white;
}

.line-1 {
    background: linear-gradient(to right, #03fa6e 37%, #8a2be2 63%);
    width: 172px;
    height: 4px;
    margin-bottom: 14px;
    border-radius: 90%;
}

.experience-container {
    display: none;
    text-align: left;
}

span {
    color: #03fa6e;
}

.portfolio-bg-container {
    background-color: #080808;
}

.card-body {
    background-color: #111111;
    color: white;
    text-align: center;
}

.card-image {
    filter: brightness(50%);
}

.card-image:hover {
    filter: brightness(100%);
}

.card-title {
    text-align: center;
}

.card-title:hover {
    color: #03fa6e;
    cursor: pointer;
    font-weight: 600;
}

.card-text {
    font-size: 14px;
}

.contact-bg-container {
    background-color: #000000;
}

.social-media {
    margin: 0;
    text-align: center;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
}

.social-media a {
    color: #ffffff;
    font-size: 32px;
    margin-right: 2rem;
    padding: .3rem;
    margin-bottom: 1em;
    margin-top: 0.4em;
}

.white-icons i {
    color: white;
}

.white-icons i:hover {
    color: #03fa6e;
}

button {
    background-color: #8a2be2;
    color: white;
    border-radius: 5%;
    border-color: white;
    cursor: pointer;
}

.btn {
    background-color: blueviolet;
    color: white;
    transition: background-color 0.1s;
}

.btn:hover {
    background-color: #03fa6e;
    color: white;
}

.custom-background {
    background-color: #222222;
}


.input-label {
    color: #ffffff9d;
    position: absolute;
    padding-left: .65em;
    padding-top: .45em;
    pointer-events: none;
    transition: 0.05s;
}


.hidden {
    opacity: 0;
    transform: translateY(-20px);
}


footer {
    background-color: #8a2be2;
    color: white;
    display: flex;
    justify-content: center;
    height: 30px;
}

footer p {
    font-size: 13px;
    padding-top: 4px;
}

