.driver-results-container {
    font-family: 'Lexend', sans-serif;
    background-color: rgb(17, 17, 17);
    color: white;
    height: 100vh;
    overflow: auto;
}

.driver-results-heading-container {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-left: 14px;
    background-color: rgb(21, 21, 21);
}

.driver-results-table-container {
    padding: 15px;
    background: linear-gradient(220deg, rgba(41, 41, 41), rgba(41,21, 21));
}

.back-button {
    margin-right: 10px;
    width: 50px;
    background: linear-gradient(220deg, rgba(41, 41, 41), rgba(41,21, 21));
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 1cqb;
    border-top: white solid 0.5px;
    border-left: white solid 0.5px;
}

.select-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.result-grid {
    border-right: solid white 1px;
    font-weight: 300;
    border-left: solid white 1px;
}

.round {
    width: 5px;
}

.line {
    background-color: white;
    width: 100%;
    height: 2px;
}

.points {
    width: 2px;
}

.race-flag-result {
    width: 40px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 8px;
    border-radius: 0.5cqb;
}

