.drivers-container {
    font-family: "Strait", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(17, 17, 17);
    color: white;
    height: 100vh;
    overflow: auto;
}

.drivers-heading {
    display: flex;
    justify-content: left;
    padding-top: 7px;
    padding-left: 10px;
    background-color: rgba(245, 4, 4, 0.473);
}

.page-heading-image {
    margin-top: -5px;
    height: auto;
}

.drivers-select-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.select-font {
    font-weight: 300;
}

.line {
    background-color: white;
    width: 100%;
    height: 2px;
}


.drivers-profile-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.driver-profile:hover {
    cursor: pointer;
    box-shadow: 0 0 50px rgba(0, 0, 0, 2.1);
}

.driver-profile {
    background: linear-gradient(220deg, rgba(41, 41, 41), rgb(73, 31, 31));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    width: 260px;
    height: 210px;
    text-align: center;
    border: 0px black solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border-radius: 2cqb;
    padding: 0;
    margin: 15px;
    text-decoration: none;
}


.driver-line {
    width: 260px;
    background-color: white;
    height: 1px;
    margin-bottom: 20px;
}

.driver-link {
    text-decoration: none;
    color: inherit;
}

.driver-link:hover {
    color: inherit;
}


.driver-name {
    padding-top: 5px;
    font-size: 21px;
    margin-bottom: 15px;
    font-weight: 300;
}

.driver-info {
    font-size: 13px;
    margin: 3px;
    font-weight: 200;
}

select {
    background-color: rgb(31, 31, 31);
    color: white;
    max-height: 30px;
    border-radius: 1cqb;
}

@media screen and (max-width: 660px) {
    .drivers-select-container {
        display: flex;
        justify-content: space-around;
        padding: 19px;
        font-size: 12px;
    }


    .driver-profile {
        width: 160px;
        height: 150px;
    }

    .driver-line {
        width: 160px;
        background-color: white;
        height: 1px;
        margin-bottom: 15px;
    }

    .driver-image {
        width: 75px;
    }

    .driver-name {
        font-size: 14px;
    }

    .driver-info {
        font-size: 7px;
    }
}

@media screen and (max-width: 390px) {
    .drivers-select-container {
        display: flex;
        justify-content: space-around;
        padding: 12px;
        font-size: 12px;
    }

    .driver-profile {
        width: 130px;
        height: 130px;
        margin: 10px;
    }

    .driver-line {
        width: 130px;
        background-color: white;
        height: 1px;
        margin-bottom: 15px;
    }

    .driver-image {
        width: 70px;
    }

    .driver-name {
        font-size: 11px;
    }

    .driver-info {
        font-size: 7px;
    }
}