.standings-container {
    font-family: "Strait", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(31, 31, 31);
    color: white;
    height: 100vh;
    overflow: auto;
}

.standings-heading {
    display: flex;
    justify-content: left;
    padding-top: 7px;
    padding-left: 10px;
    background-color: rgb(131, 2, 2);
}

.standings-select-container {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-bottom: -10px;
    font-weight: 400;
}

.driver-standings-table-container {
    padding: 10px 155px 40px 155px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin: 0px;
    text-decoration: none;
}

.drivers-table {
    color: white;
    margin: 0;
    padding: 0;
}

.driver-table-head {
    font-size: 16px;
}

.driver-table-body {
    font-size: 16px;
}


.driver-standing-position {
    width: 1px;
    text-align: center;
    border-right: solid 0.1px;
    border-left: solid 0.1px;
}

.constructor {
    border-right: solid 0.1px;
    border-left: solid 0.1px;
}

.points {
    border-right: solid 1px;
}

.wins {
    border-right: solid 1px;
    width: 1px;
}

select {
    background-color: rgb(31, 31, 31);
    color: white;
    max-height: 30px;
    border-radius: 1cqb;
}

@media screen and (max-width: 750px) {
    .driver-standings-table-container {
        padding: 10px 85px 40px 85px;
    }

    .standings-select-container {
        font-size: 14px;
    }

    .driver-table-head {
        font-size: 12px;
    }
    
    .driver-table-body {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .driver-standings-table-container {
        padding: 10px 55px 40px 55px;
    }


    .standings-select-container {
        font-size: 14px;
    }

    .driver-table-head {
        font-size: 12px;
    }
    
    .driver-table-body {
        font-size: 12px;
    }
}

@media screen and (max-width: 460px) {
    .driver-standings-table-container {
        padding: 10px 35px 40px 35px;
    }


    .standings-select-container {
        font-size: 12px;
        padding: 15px;
    }

    .driver-table-head {
        font-size: 10px;
    }
    
    .driver-table-body {
        font-size: 10px;
    }
}

@media screen and (max-width: 360px) {

    .driver-standings-table-container {
        padding: 10px 25px 40px 25px;
    }

    .standings-select-container {
        font-size: 11px;
    }

    .driver-table-head {
        font-size: 9px;
    }
    
    .driver-table-body {
        font-size: 9px;
    }
}