.main-container {
    font-family: "Strait", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(17, 17, 17);
    color: white;
    height: 100vh;
}

.home-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    background-color: rgb(17, 17, 17);
}


.component-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(220deg, rgba(41, 41, 41), rgb(73, 31, 31));
    width: 300px;
    height: 200px;
    border: 0px black solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border-radius: 3cqb;
    padding: 5px;
    margin: 20px;
    text-decoration: none;
    z-index: 1;
    position: relative;
}

.component-container img {
    padding: 15px;
}

.component-container h3 {
    font-size: 18px;
    color: white;
    padding: 2px;
    font-weight: 200;
}

.component-container h3:hover {
    font-weight: 400;
}

.comp-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-container:hover {
    cursor: pointer;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 680px) {
    .component-container {
        width: 150px;
        height: 150px;
        margin: 14px;
        margin-top: 25px;
    }

    .f1-helmet {
        width: 136px;
    }

    .lotus {
        width: 160px;
    }

    .trophy {
        width: 100px;
    }

    .team-trophy {
        width: 100px;
    }

    .cheq-flag {
        width: 140px;
    }
    
    .component-container h3 {
        font-size: 14px;
        color: white;
        padding: 2px;
        font-weight: 200;
    }
}

@media screen and (max-width: 366px) {
    .component-container {
        width: 125px;
        height: 125px;
        margin: 10px;
        margin-top: 25px;
    }

    .f1-helmet {
        width: 106px;
    }

    .lotus {
        width: 120px;
    }

    .trophy {
        width: 80px;
    }

    .team-trophy {
        width: 80px;
    }

    .cheq-flag {
        width: 100px;
    }
    
    .component-container h3 {
        font-size: 14px;
        color: white;
        padding: 2px;
        font-weight: 200;
    }
}