
.Landing-container {
    font-family: 'Lexend', sans-serif;
}

.image-container {
    position: relative;
    height: 100vh;
    background-image: url('../images/mercedes_amg_petronas_f1_car_4k.jpg');
    background-size: cover;
    background-position: center;
}

.button-container {
    position: absolute;
    bottom: 120px; /* Adjust the distance from the bottom based on your design */
    left: 26%;
}

h3 {
    margin-left: -5px;
}

.f1-title {
    font-weight: bold;
    font-size: 70px;
    color: red;
}

.one {
    color: white;
    margin-left: -28px;
}

.historical {
    font-size: 16px;
    color: white;
}

.enter-button {
    background-color: rgb(10, 225, 225);
    width: 192px;
    padding: 5px;
    color: white;
    border-radius: 2cqb;
    border-width: 0;
}