
.Landing-container {
    font-family: 'Lexend', sans-serif;
}

.image-container {
    position: relative;
    height: 100vh;
    background-image: url('../images/mercedes-track-wet.jpg');
    background-size: cover;
    background-position: center;
}

.button-container {
    position: absolute;
    bottom: 200px;
    left: 34%;
    top: 25%;
}

.logo-container {
    width: 90px;
    background: linear-gradient(135deg, black, rgba(31, 31, 31), black);
    border-radius: 1cqb;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

h3 {
    margin-left: -5px;
}

.data {
    font-family: "Teko", sans-serif;
    margin-top: -38px;
    color: white;
    font-size: 36px;
    letter-spacing: 1.4px;
    font-weight: lighter;
}


.f1-title {
    font-family: "Teko", sans-serif;
    font-weight: bold;
    font-size: 90px;
    color: red;
    font-weight: 400;
    letter-spacing: 1.3px;
    margin-left: 1px;
    margin-right: 1px;
}

.one {
    color: white;
    margin-left: -10px
}

.sub-title {
    font-weight: 400;
    font-size: 27.7px;
    font-family: "Teko", sans-serif;
    letter-spacing: 1px;
}

.enter-button {
    font-family: "Teko", sans-serif;
    background-color: red;
    font-size: 30px;
    letter-spacing: 2px;
    width: 250px;
    padding: 1px;
    color: white;
    border-radius: 1cqb;
    border: none;
}

.enter-button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.815);
}

@media screen and (max-width: 1350px) {
    .button-container {
        left: 27%;
        top: 40%;
    }

    
}

@media screen and (max-width: 1040px) {
    .button-container {
        left: 22%;
        top: 57%;
    }

    .sub-title {
        font-weight: lighter;
        font-size: 27.7px;
    }

    .enter-button {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .button-container {
        left: 20%;
        top: 32%;
    }

    .sub-title {
        font-weight: lighter;
        font-size: 22.7px;
    }

    .enter-button {
        width: 100%;
    }
}


@media screen and (max-width: 830px) {
    .image-container {
        background-position: 62% center;
    }

    .button-container {
        left: 8%;
        top: 50%;
    }

    .sub-title {
        font-weight: lighter;
        font-size: 23.7px;
    }

    .enter-button {
        width: 105%;
    }
}

@media screen and (max-width: 430px) {
    .image-container {
        background-position: 60% center;
    }

    .button-container {
        left: 10%;
        top: 58%;
    }

    .sub-title {
        font-weight: lighter;
        font-size: 18.7px;
    }

    .enter-button {
        width: 105%;
    }
}

