body .navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.navbar {
    font-family: 'Lexend', sans-serif;
    padding-left: 2px;
    z-index: 1000;
}

ul li {
    margin-right: 15px;
}

.nav-link {
    font-weight: 200;
}

.nav-link:hover {
    font-weight: 400;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-style {
    background-color: black;
}

.nav-f1-title {
    font-weight: 300;
    font-size: 30px;
    color: red;
}

.nav-one {
    color: white;
    margin-left: -22px;
}

.nav-data {
    font-size: 16px;
    color: white;
}

.dropdown-menu {
    background-color: black;
    border-radius: 2cqb;
    text-align: right;
}

.nav-item.dropdown .dropdown-item {
    font-weight: 200;
}

.nav-item.dropdown .dropdown-item:hover {
    background-color: transparent !important;
    font-weight: 400;
}

