.standings-container {
    font-family: 'Lexend', sans-serif;
    background-color: rgb(31, 31, 31);
    color: white;
    height: 100vh;
    overflow: auto;
}

.standings-heading {
    display: flex;
    justify-content: left;
    padding-top: 7px;
    padding-left: 10px;
    background-color: rgb(21, 21, 21);
}

.standings-select-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.standings-table-container {
    padding: 0px 25px 25px 30px;
}

.constructors-table-body {
    background: linear-gradient(220deg, rgba(41, 41, 41), rgba(41,21, 21));
}

.page-heading {
    margin-left: 2px;
}

select {
    background-color: rgb(31, 31, 31);
    color: white;
    max-height: 30px;
    border-radius: 1cqb;
}